.sectionText {
    &--small {
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.14px;

        @media (min-width: $xlBreakpoint) {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }

    &--socialPosts {
        font-family: "DM Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.22px;

        @media (min-width: $mdBreakpoint) {
            font-size: 20px;
            letter-spacing: 0.2px;
        }

        @media (min-width: $xlBreakpoint) {
            font-size: 26px;
            letter-spacing: 0.26px;
        }
    }

    &--smaller {
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
        padding-left: 20px;
        white-space: pre-line;

        @media (min-width: $mdBreakpoint) {
            font-size: 14px;
            letter-spacing: 0.14px;
            padding-left: 20px;
        }

        @media (min-width: $xlBreakpoint) {
            font-size: 18px;
            letter-spacing: 0.18px;
            max-width: 391px;
            width: 300ch;
        }
    }

    &--medium {
        font-family: "DM Serif Text";
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
    }

    &--regular {
        font-family: "DM Sans";
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.6px;
    }

    &--large {
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: -0.36px;

        @media (min-width: $xlBreakpoint) {
            font-size: 26px;
        
        }
    }
}
