.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

   

    select {
        background-color: var(--color--pink);
        border: 1px solid var(--color--white);
        border-radius: 5px;
        color: var(--color--white);
        text-align: center;
        font-size: 15px;
        max-width: 160px;
        margin-bottom: 40px;
        padding: 5px 22px;

        @media (min-width: $mdBreakpoint) {
            padding: 10px 32px;
        }
    }
}
