.footer {
    border: 2px solid #e2e2e2;
    border-radius: 7px;
    min-height: 767.103px;

    @media (min-width: 768px) {
        min-height: 500px;
    }

    @media (min-width: 1440px) {
        min-height: 479px;
    }

    &__footertop {
        max-width: 1393px;
        margin: 0 auto;
    }

    .content {
        display: flex;

        align-items: center;
        padding: 16px 134px 18px 15px;
        gap: 20px;

        @media (min-width: 768px) {
            margin-left: 82px;
            justify-content: space-between;
            gap: 10px;
        }
        @media (min-width: 1440px) {
            display: flex;
            justify-content: space-between;
            padding-top: 44px;
            padding-left: 120px;
            gap: 170px;
            margin: auto;
        }

        &__logotitle {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__logo {
            max-width: 35px;
        }
        &__title {
            font-size: 25px;
            letter-spacing: 5px;
            color: black;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    &__hr {
        border: 2px solid #c4c4c4;
        opacity: 0.3;
    }

    &__terms {
        display: flex;
        flex-direction: column;
        margin-left: 34px;

        @media (min-width: 768px) {
            margin-left: 92px;
            flex-direction: row;
            align-items: baseline;
            gap: 36px;
        }

        @media (min-width: 1440px) {
            display: flex;
            justify-content: flex-end;
            margin-right: 95px;
        }
    }

    &__subtile {
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.68px;
        margin-top: 22px;
    }

    &__privacy {
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
        letter-spacing: 1.68px;
        margin-top: 15px;
        margin-bottom: 12px;
    }

    &__paragraph {
        font-size: 11px;
        color: black;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.32px;
        margin-top: 12px;
        margin-bottom: 30px;
        margin-left: 34px;

        @media (min-width: 768px) {
            margin-left: 92px;
            font-size: 14px;
            letter-spacing: 1.68px;
            max-width: 549px;
        }

        @media (min-width: 1440px) {
            display: none;
        }
    }
}
