.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
        color: var(--color--pink);
        text-align: center;
        padding-bottom: 30px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    padding-top: 30px;

    @media (max-width: 337px) {
        flex-direction: column;
    }
}
