.container {
    width: 100%;
    height: auto;
    max-width: 100px;
    align-items: center;

    @media (min-width: $mdBreakpoint) {
        max-width: 230px;
    }

    @media (min-width: $xlBreakpoint) {
        max-width: 410px;
    }
}
